{% extends "base.html" %}

{% block content %}
<body>
{{ form.hidden_tag() }}
<form action="" method="POST" enctype="multipart/form-data" class="container">
    <h1>Добавление рецепта</h1>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
    {{ form.content.label }}<br>
    {{ form.content(class="form-control") }}<br>
    {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}<br>
        {% for error in form.category.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
        {% endfor %}
        </p>
    <input type="file" name="file">
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</body>
{% endblock %}